<form [formGroup]="FormGroup">
  <p-card [style]="{'width': '60%', 'margin-top': '2%', 'margin-left': '20%'}">
    <div class="row">
      <div class="col-6">
        選擇產品 ： <p-dropdown [options]="op" [editable]="true" optionLabel="product" placeholder="選擇產品"
          [style]="{'width':'100%'}"
          [ngClass]="{'ng-dirty': FormGroup.controls['product'].hasError && FormGroup.controls['product'].touched}"
          (onChange)="onChange1($event)" formControlName="product" [required]="true"
          [(ngModel)]="this.orderdata.product" ngDefaultControl></p-dropdown>
      </div>
    <div class="col-6" style="margin-top: 20px;">
      選擇數量 ： <p-inputNumber [inputStyle]="{width: '50%', height: '90%'}" mode="decimal" [showButtons]="true"
        inputId="minmax-buttons" [min]="0" [max]="100" formControlName="quantity" [required]="true"
        [(ngModel)]="this.orderdata.quantity" ngDefaultControl>
      </p-inputNumber>
      <span style="margin-left: 20px;">
        <button pButton pRipple type="button" icon="pi pi-plus" (click)="postProductRequest()"></button>
      </span>
    </div>
  </div>
    <div style="margin-top: 20px;">
      <button pButton pRipple type="button" label="上一頁" routerLink="/main/order/order-new"></button>
    </div>
  </p-card>
</form>
<p-card [style]="{'width': '60%', 'margin-top': '2%', 'margin-left': '20%'}">
  <div class="col-12" style="display:inline">
    <label for="訂單列表">待送出訂單列表</label>
    <span style="margin-left: 70%;"></span>
  </div>
  <hr>
  <p-table [value]="GETOneOrder" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" responsiveLayout="scroll"
    [rowsPerPageOptions]="[5,10,15]">
    <ng-template pTemplate="header">
      <tr>
        <th>廠商</th>
        <th>商品</th>
        <th>數量</th>
        <th>刪除</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-element>
      <tr>
        <td>{{element.factory}}</td>
        <td>{{element.product}}</td>
        <td>{{element.quantity}}</td>
        <td><button styleClass="p-button-sm" pButton pRipple type="button" icon="pi pi-trash"
            class="p-button-rounded p-button-secondary p-button-outlined"></button></td>
      </tr>
    </ng-template>
  </p-table>
  <div style="margin-top: 10px;margin-left: 80%;">
    <button pButton pRipple type="button" label="確認新增訂單" (click)="postProductRequest()"></button>
  </div>
</p-card>
