<div class="container">
  <div style="margin-top: 50px">
    <div class="row text-center">
      <div class="col-4 text-center">
        <p-card [style]="{'width': '100%', 'height':'100%'}">
          <i class="pi pi-cart-plus" style="font-size: 5rem" routerLink="/main/order"></i>
        </p-card>
      </div>
      <div class="col-4">
        <p-card [style]="{'width': '100%', 'height':'100%'}">
          <i class="pi pi-file-excel" style="font-size: 5rem" routerLink="/main/bill"></i>
        </p-card>
      </div>
      <div class="col-4">
        <p-card [style]="{'width': '100%', 'height':'100%'}">
          <i class="pi pi-building" style="font-size: 5rem" routerLink="/main/company"></i>
        </p-card>
      </div>
    </div>
  </div>
</div>
