<div class="text-center">
  <p-card [style]="{'width': '70%', 'margin-top': '4%' , 'margin-left': '15%'}">
    <h1 style="text-align: center;">註冊帳號</h1>
    <div class="field">
      <label for="username">帳號：</label>
      <input id="username" type="username" placeholder="請輸入您的帳號" pInputText />
    </div>
    <div class="field" style="margin-top: 20px;">
      <label for="password">密碼：</label>
      <input id="password" type="text" placeholder="請輸入您的密碼" pInputText />
      <br>
      <!-- <small id="username1-help" class="block">Enter your username to reset your password.</small> -->
    </div>
  </p-card>
</div>
