<!-- <div class="login-wrapper text-center">

  <div class="login-box-group">
    <div class="login-box">

      <div class="login-logo">
        電商訂貨系統
        <img src="./assets/img/logo/logo.png" alt="logo">
      </div>

      <h1>
        登入
      </h1>

      <div class="login-btn-group">
        <a routerLink="/main">
          忘記密碼?
        </a>
        <a class="btn">
          登入
        </a>
      </div>
    </div>
  </div>
</div> -->
<div class="row text-center">
  <div class="col">
    <p-card>
      <h1>電商訂貨系統</h1>
      <a routerLink='/main'>忘記密碼?</a>
    </p-card>
  </div>
</div>
