<p-sidebar [(visible)]="Sidebar" [baseZIndex]="10000">
  <h3>Left Sidebar</h3>
</p-sidebar>
<p-toolbar>
  <div class="p-toolbar-group-left">
    <!-- <button pButton pRipple type="button" icon="pi pi-bars" (click)=visibleSidebar()
      class="p-button-rounded p-button-secondary p-button-text"></button> -->

    <!-- <p-splitButton icon="pi pi-bars" [model]="items" styleClass="p-button-rounded p-button-secondary"></p-splitButton> -->
    <span>
      <a class="title" routerLink="/main/dashboard">電商訂貨系統</a>
      <a class="title" routerLink="/main/order">訂單管理</a>
      <a class="title" routerLink="/main/bill">結算單管理</a>
      <a class="title" routerLink="/main/company">廠商管理</a>
    </span>
  </div>

  <div class="p-toolbar-group-right" style="margin-right: 20px;">
    <p-button icon="pi pi-user" (click)="op.toggle($event)"></p-button>
  </div>
</p-toolbar>
<p-toast></p-toast>
<p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '200px'}">
  <ng-template pTemplate>
    <h3>您好，使用者</h3>
    <a class="title" routerLink="/login">登出</a>
  </ng-template>
</p-overlayPanel>
