.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
  max-width: 100%;
}

.field {
  margin-right: 10%;
}

/*spacer*/
.spacer-3 {
  flex: 3;
}
.spacer-6 {
  flex: 6;
}

/*width*/
.w-100p {
  width: 100%;
}

/*margin*/
.ml-10 {
  margin-left: 10px;
}

.ml-10pe {
  margin-left: 10%;
}

.mr-10 {
  margin-right: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-30pe {
  margin-top: 30%;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

/*background-color*/
.bg-darkgray{
  background-color:darkgray;
}

dt,
dd {
  display: inline;
  margin-right: 10px;
}

div {
  white-space: nowrap;
}

h5 {
  display: inline;
}
