<div class="container">
  <p-card [style]="{'margin-top': '2%'}">
    <form [formGroup]="f_FormGroup">
      <div class="row">
        <div class="row">
          <div class="col">
            <h2>編輯廠商</h2>
          </div>
          <div class="spacer-6"></div>
          <div class="col">
            <div class="input-group">
              <h5>啟用：</h5>
              <p-inputSwitch formControlName="enable" [(ngModel)]="f_data.enable" ngDefaultControl></p-inputSwitch>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-6 mb-20">
            <div class="input-group">
              <div class="col-2 mt-10">
                廠商名稱：
              </div>
              <div class="col-10">
                <input class="w-100p" type="username" placeholder="請輸入廠商名稱" pInputText formControlName="name" [(ngModel)]="f_data.name"
                  ngDefaultControl />
              </div>
            </div>
          </div>
          <div class="col-6 mb-20">
            <div class="input-group">
              <div class="col-2 mt-10">
                電話：
              </div>
              <div class="col-10">
                <input class="w-100p" type="tel" placeholder="請輸入廠商電話" pInputText formControlName="tel" [(ngModel)]="f_data.tel"
                  ngDefaultControl />
              </div>
            </div>
          </div>
          <div class="col-12 mb-20">
            <div class="input-group">
              <div class="col-1 mt-10">
                地址：
              </div>
              <div class="col-11">
                <input class="w-100p" type="address" placeholder="請輸入廠商地址" pInputText formControlName="address" [(ngModel)]="f_data.address"
                  ngDefaultControl />
              </div>
            </div>
          </div>
          <div class="col-6 mb-20">
            <div class="input-group">
              <div class="col-2 mt-10">
                聯絡人：
              </div>
              <div class="col-10">
                <input class="w-100p" type="username" placeholder="請輸入廠商聯絡人" pInputText formControlName="liaison" [(ngModel)]="f_data.liaison"
                  ngDefaultControl />
              </div>
            </div>
          </div>
          <div class="col-6 mb-20">
            <div class="input-group">
              <div class="col-2 mt-10">
                電子郵件：
              </div>
              <div class="col-10">
                <input class="w-100p" type="mail" placeholder="請輸入廠商電子郵件" pInputText formControlName="mail" [(ngModel)]="f_data.mail"
                  ngDefaultControl />
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col">
            <button class="mr-10" pButton pRipple label="修改" (click)="patchFactoryRequest(f_id)"></button>
            <button pButton pRipple label="取消" class="p-button-outlined p-button-secondary" (click)="cancel()"></button>
          </div>
        </div>
      </div>
    </form>

    <!-- 沒有api -->
    <!-- <div class="row">
      <div class="row">
        <div class="col">
          <h2>編輯廠商</h2>
        </div>
        <div class="spacer-6"></div>
        <div class="col">
          <div class="input-group">
            <h5>啟用：</h5>
            <p-inputSwitch [(ngModel)]="f_data.enable"></p-inputSwitch>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-6 mb-20">
          <div class="input-group">
            <div class="col-2 mt-10">
              廠商名稱：
            </div>
            <div class="col-10">
              <input class="w-100p" type="username" placeholder="請輸入廠商名稱" pInputText />
            </div>
          </div>
        </div>
        <div class="col-6 mb-20">
          <div class="input-group">
            <div class="col-2 mt-10">
              電話：
            </div>
            <div class="col-10">
              <input class="w-100p" type="tel" placeholder="請輸入廠商電話" pInputText />
            </div>
          </div>
        </div>
        <div class="col-12 mb-20">
          <div class="input-group">
            <div class="col-1 mt-10">
              地址：
            </div>
            <div class="col-11">
              <input class="w-100p" type="address" placeholder="請輸入廠商地址" pInputText />
            </div>
          </div>
        </div>
        <div class="col-6 mb-20">
          <div class="input-group">
            <div class="col-2 mt-10">
              聯絡人：
            </div>
            <div class="col-10">
              <input class="w-100p" type="username" placeholder="請輸入廠商聯絡人" pInputText />
            </div>
          </div>
        </div>
        <div class="col-6 mb-20">
          <div class="input-group">
            <div class="col-2 mt-10">
              電子郵件：
            </div>
            <div class="col-10">
              <input class="w-100p" type="mail" placeholder="請輸入廠商電子郵件" pInputText />
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="input-group">
          <div class="col-11">
            <button class="mr-10 ml-10pe" pButton pRipple label="修改" (click)="patchFactoryRequest(f_id)"></button>
            <button pButton pRipple label="取消" class="p-button-outlined p-button-secondary" (click)="cancel()"></button>
          </div>
          <div class="col-1">
            <button pButton pRipple label="刪除廠商" class="p-button-danger" (click)="deleteFactory(f_id)"></button>
          </div>
        </div>
      </div>
    </div> -->
  </p-card>

  <p-card [style]="{'margin-top': '2%'}">
    <div class="row">
      <div class="col">
        <h2>產品列表</h2>
      </div>
      <div class="spacer-6"></div>
      <div class="col">
        <div class="input-group">
          <button class="mr-10" (click)="showAddDialog()" pButton pRipple label="新增"></button>
        </div>
      </div>
    </div>
    <hr>
    <!--表格-->
    <p-table [value]="GETAllProduct" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
      responsiveLayout="scroll" [rowsPerPageOptions]="[5,10,15]">
      <!-- <p-table [value]="example" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
      responsiveLayout="scroll" [rowsPerPageOptions]="[5,10,15]"> -->
      <ng-template pTemplate="header">
        <tr style="font-size:small">
          <th>產品名稱</th>
          <th>價格</th>
          <th>單位</th>
          <th>供應狀態</th>
          <th>編輯</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-element>
        <tr style="font-size:small">
          <td>{{element.name}}</td>
          <td>{{element.price}}</td>
          <td>{{element.unit}}</td>
          <td>{{element.discountinued}}</td>
          <td><button styleClass="p-button-sm" pButton pRipple type="button" icon="pi pi-pencil"
              class="p-button-rounded p-button-secondary p-button-outlined"
              (click)="showEditDialog(element.p_id)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
<form [formGroup]="p_FormGroup">
  <p-dialog header="新增產品" [(visible)]="displayAdd">
    <!-- <p-dialog header="新增產品" [(visible)]="displayEdit"> -->
    <div class="row">
      <div class="col-12 mb-20">
        <div class="input-group">
          <div class="col-4 mt-10">
            產品名稱：
          </div>
          <div class="col-8">
            <input class="w-100p" type="username" placeholder="請輸入產品名稱" pInputText formControlName="name" [(ngModel)]="p_data.name"
              ngDefaultControl />
          </div>
        </div>
        <div class="input-group">
          <div class="col-4 mt-10">
            價格：
          </div>
          <div class="col-8">
            <input class="w-100p" placeholder="請輸入產品價格" pInputText formControlName="price" [(ngModel)]="p_data.price" ngDefaultControl />
          </div>
        </div>
        <div class="input-group">
          <div class="col-4 mt-10">
            單位：
          </div>
          <div class="col-8">
            <input class="w-100p" type="text" placeholder="請輸入產品單位" pInputText formControlName="unit" [(ngModel)]="p_data.unit"
              ngDefaultControl />
          </div>
        </div>
        <div class="input-group">
          <div class="col-4 mt-10">
            <h6>是否供應：</h6>
          </div>
          <div class="col-8">
            <p-inputSwitch formControlName="discountinued" [(ngModel)]="p_data.discountinued" ngDefaultControl></p-inputSwitch>
          </div>
        </div>
        <div class="input-group">
          <div class="col-12 text-center">
            <button class="w-100" (click)="postProductRequest()" pButton pRipple label="新增"></button>
          </div>
        </div>
      </div>
    </div>
  </p-dialog>
  <p-dialog header="編輯產品" [(visible)]="displayEdit">
    <!-- <p-dialog header="編輯產品" [(visible)]="displayAdd"> -->
    <div class="row">
      <div class="col-12 mb-20">
        <div class="input-group">
          <div class="col-4 mt-10">
            產品名稱：
          </div>
          <div class="col-8">
            <input class="w-100p" type="username" placeholder="請輸入產品名稱" pInputText  formControlName="name"  [(ngModel)]="p_data.name"
              ngDefaultControl/>
          </div>
        </div>
        <div class="input-group">
          <div class="col-4 mt-10">
            價格：
          </div>
          <div class="col-8">
            <input class="w-100p" placeholder="請輸入產品價格" pInputText  formControlName="price" [(ngModel)]="p_data.price" ngDefaultControl />
          </div>
        </div>
        <div class="input-group">
          <div class="col-4 mt-10">
            單位：
          </div>
          <div class="col-8">
            <input class="w-100p" type="text" placeholder="請輸入產品單位" pInputText formControlName="unit" [(ngModel)]="p_data.unit"
              ngDefaultControl />
          </div>
        </div>
        <div class="input-group">
          <div class="col-4 mt-10">
            <h6>是否供應：</h6>
          </div>
          <div class="col-6">
            <p-inputSwitch formControlName="discountinued" [(ngModel)]="p_data.discountinued" ngDefaultControl></p-inputSwitch>
          </div>
          <div class="col-2">
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text"
              (click)="deleteProduct()"></button>
          </div>
        </div>
        <div class="input-group">
          <div class="col-12 text-center">
            <button class="w-100" (click)="patchProductRequest()" pButton pRipple label="編輯"></button>
          </div>
        </div>
      </div>
    </div>
  </p-dialog>
</form>
