<div class="container">
  <p-card [style]="{'margin-top': '2%'}">
    <form [formGroup]="FormGroup">
      <div class="row">
        <div class="col">
          <h2>新增廠商</h2>
        </div>
        <div class="spacer"></div>
        <div class="col">
          <div class="input-group">
            <h5>啟用：</h5>
            <p-inputSwitch formControlName="enable" [(ngModel)]="data.enable" ngDefaultControl></p-inputSwitch>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-6 mb-20">
            <div class="input-group">
              <div class="col-2 mt-10">
                廠商名稱：
              </div>
              <div class="col-10">
                <input class="w-100p" type="username" placeholder="請輸入廠商名稱" pInputText formControlName="name" [(ngModel)]="data.name" ngDefaultControl/>
              </div>
            </div>
          </div>
          <div class="col-6 mb-20">
            <div class="input-group">
              <div class="col-2 mt-10">
                電話：
              </div>
              <div class="col-10">
                <input class="w-100p" type="tel" placeholder="請輸入廠商電話" pInputText formControlName="tel" [(ngModel)]="data.tel" ngDefaultControl/>
              </div>
            </div>
          </div>
          <div class="col-12 mb-20">
            <div class="input-group">
              <div class="col-1 mt-10">
                地址：
              </div>
              <div class="col-11">
                <input class="w-100p" type="address" placeholder="請輸入廠商地址" pInputText formControlName="address" [(ngModel)]="data.address" ngDefaultControl/>
              </div>
            </div>
          </div>
          <div class="col-6 mb-20">
            <div class="input-group">
              <div class="col-2 mt-10">
                聯絡人：
              </div>
              <div class="col-10">
                <input class="w-100p" type="username" placeholder="請輸入廠商聯絡人" pInputText formControlName="liaison" [(ngModel)]="data.liaison" ngDefaultControl/>
              </div>
            </div>
          </div>
          <div class="col-6 mb-20">
            <div class="input-group">
              <div class="col-2 mt-10">
                電子郵件：
              </div>
              <div class="col-10">
                <input class="w-100p" type="mail" placeholder="請輸入廠商電子郵件" pInputText formControlName="mail" [(ngModel)]="data.mail" ngDefaultControl/>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col">
            <button class="mr-10" pButton pRipple label="新增"  (click)="postFactoryRequest()"></button>
            <button pButton pRipple label="取消" class="p-button-outlined p-button-secondary" (click)="cancel()"></button>
          </div>
        </div>
      </div>
    </form>

    <!-- 沒有api -->
    <!-- <div class="row">
      <div class="col">
        <h2>新增廠商</h2>
      </div>
      <div class="spacer"></div>
      <div class="col">
        <div class="input-group">
          <h5>啟用：</h5>
          <p-inputSwitch [(ngModel)]="data.enable"></p-inputSwitch>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-6 mb-20">
          <div class="input-group">
            <div class="col-2 mt-10">
              廠商名稱：
            </div>
            <div class="col-10">
              <input class="w-100p" type="username" placeholder="請輸入廠商名稱" pInputText [(ngModel)]="data.name"/>
            </div>
          </div>
        </div>
        <div class="col-6 mb-20">
          <div class="input-group">
            <div class="col-2 mt-10">
              電話：
            </div>
            <div class="col-10">
              <input class="w-100p" type="tel" placeholder="請輸入廠商電話" pInputText [(ngModel)]="data.tel"/>
            </div>
          </div>
        </div>
        <div class="col-12 mb-20">
          <div class="input-group">
            <div class="col-1 mt-10">
              地址：
            </div>
            <div class="col-11">
              <input class="w-100p" type="address" placeholder="請輸入廠商地址" pInputText [(ngModel)]="data.address"/>
            </div>
          </div>
        </div>
        <div class="col-6 mb-20">
          <div class="input-group">
            <div class="col-2 mt-10">
              聯絡人：
            </div>
            <div class="col-10">
              <input class="w-100p" type="username" placeholder="請輸入廠商聯絡人" pInputText [(ngModel)]="data.liaison"/>
            </div>
          </div>
        </div>
        <div class="col-6 mb-20">
          <div class="input-group">
            <div class="col-2 mt-10">
              電子郵件：
            </div>
            <div class="col-10">
              <input class="w-100p" type="mail" placeholder="請輸入廠商電子郵件" pInputText [(ngModel)]="data.mail"/>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col">
          <button class="mr-10" pButton pRipple label="新增"  (click)="postFactoryRequest()"></button>
          <button pButton pRipple label="取消" class="p-button-outlined p-button-secondary" (click)="cancel()"></button>
        </div>
      </div>
    </div> -->
  </p-card>
</div>
