<div class="text-center">
  <p-card [style]="{'width': '70%', 'margin-top': '4%' , 'margin-left': '15%'}">
    <h1 style="text-align: center;">註冊帳號</h1>
    <div class="field">
      <label for="username">姓名：</label>
      <input id="username" type="string" placeholder="請輸入您的姓名" pInputText />
      <!-- <small id="username1-help" class="block">Enter your username to reset your password.</small> -->
    </div>
    <div class="field" style="margin-top: 20px;">
      <label for="useraccount">帳號：</label>
      <input id="useraccount" type="useraccount" placeholder="請輸入您的帳號" pInputText />
    </div>
    <div class="field" style="margin-top: 20px;">
      <label for="password">密碼：</label>
      <input type="password" placeholder="請輸入您的密碼" pPassword />
      <!-- <small id="username1-help" class="block">Enter your username to reset your password.</small> -->
    </div>
    <div class="field-password" style="margin-top: 20px;">
      <label for="password">確認密碼：</label>
      <p-password [feedback]="false" placeholder="請再次輸入您的密碼"></p-password>
      <!-- <small id="username1-help" class="block">Enter your username to reset your password.</small> -->
    </div>
    <div class="field" style="margin-top: 20px;">
      <label for="phonenumber">電話：</label>
      <input id="phonenumber" type="string" placeholder="請輸入您的電話" pInputText />
      <!-- <small id="username1-help" class="block">Enter your username to reset your password.</small> -->
    </div>

    <button type="button" pButton (click)="showMessage()" label="123" class="ui-button-success"></button>
  </p-card>

</div>
<p-toast key="tl"></p-toast>

